* {
	margin:0;
	padding:0;
}
body {
	background:#D5C5AC;
	margin:0px auto;
	padding:0;
	font-family:Arial, Helvetica, sans-serif;
	color:#333333;
}



/* wrapper */
div.pagewidth {
	width:75%;
	margin:0 auto;
	padding:10px;
	background-color:#ffffff;
}


/* header & nav */
div.header {
	background-color:#2B374A;
	border-top:10px solid #374355;
	padding:40px 0 40px 10px;
	margin:0 auto;
}
div.nav {
	height:50px;
	display:block;
	background:transparent url('images/nav.jpg') repeat-x scroll top left;
}
div.nav ul {
	list-style:none;
	padding:0;
	margin:0;
	height:50px;
	float:left;
	position:relative;
}
div.nav ul li {
	display:block;
	float:left;
	padding:11px 12px;
	border-right:1px solid #323C4E;
	border-left:1px solid #566986;
}
div.nav ul li.end {
	border-right:none;
}
div.nav ul li a, div.nav ul li a:visited, div.nav ul li a:hover {
	float:left;
	text-decoration:none;
	color:#eee;
	font-weight:bold;
	padding:3px;
	font-size:13px;
	font-family:Arial, Helvetica, sans-serif;
	border-bottom:none;
	display:block;
}
div.nav ul li a:hover {
	text-decoration:underline;
	color:#fff;
}
div.nav ul li.selected a, div.nav ul li.selected a:visited, div.nav ul li.selected a:hover {
}



/* headers */
h1 {
	font-size:2.2em;
	letter-spacing:-2px;
	padding-left:10px;
	text-align:left;
	line-height:1.0em;
	text-transform:uppercase;
}
h1 a, h1 a:hover, h1 a:visited {
	text-decoration:none;
	color:#fff;
	font-weight:bold;
	border:none;
}
h2 {
	text-align:left;
	padding:0 0 10px 10px;
	font-size:0.9em;
	color:#6A7FA0;
	font-weight:normal;
}
div.page-wrap h1 {
	padding:0;
}
div.page-wrap h2 {
	font-size:30px;
	padding:0;
}
h3 {
	font-size:1.6em;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:normal;
	color:#4A5A74;
	letter-spacing:-1px;
}
h4 {
	font-family:Arial, Helvetica, sans-serif;
	font-weight:normal;
	color:#003366;
	padding:7px 0;
	font-size:19px;
}



/* element defaults */
p {
	margin-bottom:20px;
	line-height:1.9em;
	font-size:0.9em;
	color:#555555;
}
ul {
	padding:0 0 20px 35px;
	list-style:none;
}
ol {
	padding:0 0 20px 35px;
}
ul, ol {
	font-size:13px;
}
code {
	border:1px solid #dddddd;
	color:#666666;
	display:block;
	padding:10px;
	margin:10px 0;
}

blockquote {
	display:block;
	border-left:5px solid #ddd;
	padding:10px;
	margin-bottom:20px;
}
blockquote p {
	font-style:italic;
	font-family:Georgia, "Times New Roman", Times, serif;
	margin:0;
	height: 1%;
}

/* default forms */
fieldset {
	display:block;
	border:none;
	border-top:1px solid #e0e0e0;
}
fieldset legend {
	font-weight:bold;
	font-size:13px;
	padding-right:10px;
	color:#222;
}
fieldset form {
	padding-top:15px;
}
fieldset p label {
	float:left;
	width:150px;
	font-family:Arial, Helvetica, sans-serif;
}
fieldset form input, fieldset form select, fieldset form textarea {
	padding:5px;
	color:#333333;
	font-size:13px;
	font-family:Arial, Helvetica, sans-serif;
	border:1px solid #ddd;
}
form input.formbutton {
	margin-left:150px;
	background:#4A5970;
	border:none;
	font-family:Arial, Helvetica, sans-serif;
	border-bottom:3px solid #2B374A;
	color:#ffffff;
	font-weight:bold;
	padding:5px 10px;
	font-size:12px;
}

/* default tables */ 
table {
	width:100%;
	font-family:Arial, Helvetica, sans-serif;
	font-size:15px;
	text-align:left;
}
th, td {
	padding:5px 10px;
}
th {
	color:#fff;
	border-top:3px solid #4A5970;
	background-color:#2B374A;
}
td {
	border-bottom:1px solid #f4f4f4;
}


/* default links */
a, a:visited { 
	color:#111;
	text-decoration:none;
} 
a:hover { 
	color:#2B374A; 
}
	

/* centeral page */
div.page {
	clear:both;
	margin:0;
	padding:0;
	background-color:#ffffff;
}
div.page li {
	padding:2px 0;
}
div.page p {
	text-align:justify;
	font-family:Helvetica, Arial, sans-serif;
	color:#444444;
}

/* content */
div.page-wrap {
	padding:20px 10px;
	clear:both;
	background-color:#fff;
}
div.content {
	float:left;
	width:100%;
	padding-right:20px;
	border-right:1px solid #e0e0e0;
}
div.content ul {
	list-style:disc;
}
div.content li {
	padding-bottom:5px;
}

/* sidebar */
div.sidebar {
	padding-left:20px;
	float:left;
	width:30%;
}
div.sidebar p { 
	margin-bottom:40px;
	padding:2px;
}
div.sidebar ul {
	margin:0 0 40px 0;
	padding:4px;
	font-size:0.9em;
}
div.sidebar ul li {
	padding:8px 0;
}




/* footer */
div.footer {
	clear:both;
	background-color:#2B374A;
}
div.footer p {
	text-align:center;
	color:#ffffff;
	font-size:0.75em;
	padding:20px 0;
	margin:0;
}
div.footer p a {
	color:#ffffff;
	border-bottom:none;
	text-decoration:underline;
}

/* search form */
form.searchform {
}


/* misc classes */
*:focus {
	outline:none;
}
.clear {
	clear:both;
}