<p>
  <b>Event:</b>
  <%=h @event_registration.event_id %>
</p>

<p>
  <b>Application:</b>
  <%=h @event_registration.application_id %>
</p>


<%= link_to 'Edit', edit_event_registration_path(@event_registration) %> |
<%= link_to 'Back', event_registrations_path %>